In [115]:
import pandas as pd
import os

relatorio aluno:
- infos sobre todas as matérias: pontuação/total de questões, média individual, médial geral - feito
- infos das discursivas e redação: pontuação/total possível de pontos
- juntar td em pontuação de objetivas, pontuação discursivas, pontuação redação, e dps somar td pra fazer a nota final
- separar por matéria: assinaladas, gabarito, pontuação, tema, dificuldade
- feedback discursivas e redação

relatorio docentes:

importa todos os dados de um dia de aplicação de todas aplicações
junta todos os dfs de cada dia em um so
coloca o gabarito individual de cada dia nesse df
junta todos os dfs
drop columns
calcula a pontuacao
groupby por nome, materia, questao - nesta ordem

# Importando dados

## Dados objetivas

dfX_Y_Z
- X = numero da aplicação
- Y = dia da aplicação
- Z = lingua

In [116]:
# dados do primeiro dia de prova de todas aplicações
df1_1_ing = pd.read_excel("dados_2021.1/1ª Aplicação/SIMUFSC 2021.1 - 1º DIA (Inglês).xlsx", sheet_name="detalhes")
df1_1_esp = pd.read_excel("dados_2021.1/1ª Aplicação/SIMUFSC 2021.1 - 1º DIA (Espanhol).xlsx")

df3_1_ing =  pd.read_excel("dados_2021.1/3ª Aplicação/SIMUFSC 2021.1 - 1º DIA (Inglês) - 19H AS 23H.xlsx", sheet_name='detalhes')
df3_1_esp = pd.read_excel("dados_2021.1/3ª Aplicação/3aplicacao_dia1_esp.xlsx", sheet_name='detalhes')

df2_1_ing = pd.read_excel("dados_2021.1/2ª Aplicação/2aplicacao_dia2_ing", sheet_name='detalhes') 

df1_ing = df1_1_ing.append([df2_1_ing, df3_1_ing])
df1_esp = df1_1_esp.append([df3_1_esp])

In [117]:
df1_ing.head()

,atividade_nome,turma,aluno_nome,aluno_login,num_exercicio,resp_aluno,gabarito,certo_ou_errado,tempo_no_exercicio(s),valor_do_exercicio
0,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Ágata Pereira de Andrade,agata.andrade,1,NaN,51.0,errado,NaN,0.833333
1,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Ágata Pereira de Andrade,agata.andrade,2,NaN,46.0,errado,NaN,0.833334
2,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Ágata Pereira de Andrade,agata.andrade,3,NaN,42.0,errado,NaN,0.833333
3,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Ágata Pereira de Andrade,agata.andrade,4,NaN,53.0,errado,NaN,0.833333
4,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Ágata Pereira de Andrade,agata.andrade,5,NaN,7.0,errado,NaN,0.833334

In [118]:
# dados do segundo dia de prova de todas aplicações
df1_2 = pd.read_excel("dados_2021.1/1ª Aplicação/SIMUFSC 2021.1 - 2º DIA.xlsx", sheet_name="detalhes")
df2_2 = pd.read_excel("dados_2021.1/2ª Aplicação/27_07_2021 - SIMUFSC 2021.1 - 2º DIA - 14H AS 18H", sheet_name="detalhes")
df3_3 = pd.read_excel("dados_2021.1/3ª Aplicação/SIMUFSC 2021.1 - 2º DIA - 19H AS 23H.xlsx", sheet_name="detalhes")

df2 = df1_2.append([df2_2, df3_3])

In [119]:
df2.head()

,atividade_nome,turma,aluno_nome,aluno_login,num_exercicio,resp_aluno,gabarito,certo_ou_errado,tempo_no_exercicio(s),valor_do_exercicio
0,SIMUFSC 2021.1 - 2º DIA,SimUFSC 1º DIA - Espanhol - 2021,Ágata Cristina Cidade,agata.cidade,1,NaN,10,errado,243.0,1.0
1,SIMUFSC 2021.1 - 2º DIA,SimUFSC 1º DIA - Espanhol - 2021,Ágata Cristina Cidade,agata.cidade,2,03,10,errado,300.0,1.0
2,SIMUFSC 2021.1 - 2º DIA,SimUFSC 1º DIA - Espanhol - 2021,Ágata Cristina Cidade,agata.cidade,3,NaN,97,errado,8.0,1.0
3,SIMUFSC 2021.1 - 2º DIA,SimUFSC 1º DIA - Espanhol - 2021,Ágata Cristina Cidade,agata.cidade,4,01,15,errado,141.0,1.0
4,SIMUFSC 2021.1 - 2º DIA,SimUFSC 1º DIA - Espanhol - 2021,Ágata Cristina Cidade,agata.cidade,5,09,73,errado,1132.0,1.0

df3_1_ing =  pd.read_excel("dados_2021.1/3ª Aplicação/3aplicacao_dia1_ing", sheet_name='detalhes')

df3_1_ing

df[df["aluno_nome"] == "Maria Eduarda da Silva Ramos"]

df.columns

## Gabaritos

In [120]:
gabarito_ing = pd.read_excel("dados_2021.1/gabaritos/gabarito_ing.xlsx")

gabarito_esp = pd.read_excel("dados_2021.1/gabaritos/gabarito_esp.xlsx")

gabarito_dia2 = pd.read_excel("dados_2021.1/gabaritos/gabarito_dia2.xlsx")

In [121]:
# juntando as respostas dos alunos aos gabaritos
df_dia_1_ing = pd.merge(df1_ing, gabarito_ing, left_on="num_exercicio", right_on="Questão")
df_dia_1_esp = pd.merge(df1_esp, gabarito_esp, left_on="num_exercicio", right_on="Questão")

df1 = df_dia_1_ing.append(df_dia_1_esp)

df2 = pd.merge(df2, gabarito_dia2, left_on="num_exercicio", right_on="Questão")

In [122]:
# questão 6 e 23 foram anuladas
df2 = df2.drop(index=df2[(df2['num_exercicio'] == 6) | (df2['num_exercicio'] == 23)].index)

In [123]:
# juntando tudo
df = df1.append(df2)

In [124]:
df.columns

Index(['atividade_nome', 'turma', 'aluno_nome', 'aluno_login', 'num_exercicio',
       'resp_aluno', 'gabarito', 'certo_ou_errado', 'tempo_no_exercicio(s)',
       'valor_do_exercicio', 'Disciplina', 'Questão', 'NTPC', 'Gabarito', 'NP',
       'NÍVEL', 'TEMA', 'Nome da atividade', 'Turma', 'Nome do(a) aluno(a)',
       'Login do(a) Aluno(a)', 'Nota geral média (0 a 10)',
       'Tempo de atividade(s)', 'Tempo ausente(s)',
       'Nota de Português(0 a 10)', 'Nota de Espanhol(0 a 10)',
       'Nota de Matemática(0 a 10)', 'Nota de Biologia(0 a 10)',
       'Nota geral(0 a 40)'],
      dtype='object')

In [125]:
df.fillna(0,inplace=True)

In [126]:
df["resp_aluno"] = df["resp_aluno"].astype(int)

In [127]:
df1[df1["aluno_nome"] == "Pedro Henrique Mota Rosa"]

,atividade_nome,turma,aluno_nome,aluno_login,num_exercicio,resp_aluno,gabarito,certo_ou_errado,tempo_no_exercicio(s),valor_do_exercicio,...,Nome do(a) aluno(a),Login do(a) Aluno(a),Nota geral média (0 a 10),Tempo de atividade(s),Tempo ausente(s),Nota de Português(0 a 10),Nota de Espanhol(0 a 10),Nota de Matemática(0 a 10),Nota de Biologia(0 a 10),Nota geral(0 a 40)
30,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,1.0,51.0,51.0,certo,155.0,0.833333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,2.0,12.0,46.0,errado,138.0,0.833334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,3.0,56.0,42.0,errado,367.0,0.833333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,4.0,32.0,53.0,errado,158.0,0.833333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,5.0,4.0,7.0,errado,229.0,0.833334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,6.0,25.0,29.0,errado,153.0,0.833334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,7.0,9.0,14.0,errado,111.0,0.833335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,8.0,38.0,43.0,errado,135.0,0.833334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,9.0,50.0,22.0,errado,162.0,0.833335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,10.0,13.0,28.0,errado,117.0,0.833333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,11.0,1.0,3.0,errado,112.0,0.833335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,12.0,44.0,44.0,certo,249.0,0.833330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
702,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,13.0,1.0,52.0,errado,728.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,14.0,4.0,20.0,errado,108.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
814,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,15.0,28.0,28.0,certo,128.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
870,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,16.0,11.0,11.0,certo,140.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
926,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,17.0,16.0,16.0,certo,185.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,18.0,28.0,21.0,errado,93.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1038,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,19.0,32.0,42.0,errado,67.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,20.0,4.0,12.0,errado,137.0,1.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1150,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,21.0,4.0,9.0,errado,916.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,22.0,11.0,20.0,errado,271.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1262,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,23.0,684.0,23.0,errado,1059.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,24.0,1.0,5.0,errado,158.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1374,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,25.0,22.0,10.0,errado,317.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,26.0,2.0,18.0,errado,761.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1486,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,27.0,24.0,41.0,errado,476.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1542,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,28.0,1.0,6.0,errado,627.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1598,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,29.0,8.0,16.0,errado,340.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1654,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,30.0,2.0,3.0,errado,1017.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1710,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,31.0,7.0,26.0,errado,240.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1766,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,32.0,26.0,6.0,errado,175.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1822,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,33.0,14.0,6.0,errado,129.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1878,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,34.0,34.0,38.0,errado,250.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1934,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,35.0,11.0,25.0,errado,93.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,36.0,4.0,24.0,errado,130.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2046,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,37.0,2.0,11.0,errado,188.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2102,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,38.0,13.0,61.0,errado,151.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2158,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,39.0,13.0,3.0,errado,141.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2214,SIMUFSC 2021.1 - 1º DIA (Inglês),SimUFSC 1º DIA - Inglês - 2021,Pedro Henrique Mota Rosa,pedro.rosa,40.0,19.0,63.0,errado,149.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5210 entries, 0 to 2999
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   atividade_nome              5210 non-null   object
 1   turma                       5210 non-null   object
 2   aluno_nome                  5210 non-null   object
 3   aluno_login                 5210 non-null   object
 4   num_exercicio               5210 non-null   float64
 5   resp_aluno                  5210 non-null   int32
 6   gabarito                    5210 non-null   object
 7   certo_ou_errado             5210 non-null   object
 8   tempo_no_exercicio(s)       5210 non-null   float64
 9   valor_do_exercicio          5210 non-null   float64
 10  Disciplina                  5210 non-null   object
 11  Questão                     5210 non-null   int64
 12  NTPC                        5210 non-null   object
 13  Gabarito                    5210 non-null   int64
 14  NP                          5210 non-null   object
 15  NÍVEL                       5210 non-null   object
 16  TEMA                        5210 non-null   object
 17  Nome da atividade           5210 non-null   int64
 18  Turma                       5210 non-null   int64
 19  Nome do(a) aluno(a)         5210 non-null   int64
 20  Login do(a) Aluno(a)        5210 non-null   int64
 21  Nota geral média (0 a 10)   5210 non-null   float64
 22  Tempo de atividade(s)       5210 non-null   float64
 23  Tempo ausente(s)            5210 non-null   float64
 24  Nota de Português(0 a 10)   5210 non-null   float64
 25  Nota de Espanhol(0 a 10)    5210 non-null   float64
 26  Nota de Matemática(0 a 10)  5210 non-null   float64
 27  Nota de Biologia(0 a 10)    5210 non-null   float64
 28  Nota geral(0 a 40)          5210 non-null   float64
dtypes: float64(11), int32(1), int64(6), object(11)
memory usage: 976.9+ KB

## Dados discursivas

In [129]:
discursivas = pd.read_excel("dados_2021.1/discursivas/Correção Discursivas_ SimUFSC 2021 (respostas).xlsx")
discursivas.head()

,Carimbo de data/hora,Avaliador,Matéria,Aluno(a),"Nota alternativa ""a"" (ex.: 0.3)","Nota alternativa ""b"" (ex.: 0.3)","Nota alternativa ""c"" (ex.: 0.3)","Nota alternativa ""d"" (ex.: 0.3)",Nota final (ex.: 2.5),Comentários
0,2021-07-29 16:34:49.864,Fernando Soares de Jesus,Geografia,agata.cidade,0.5,0.0,0.5,NaN,1.0,NaN
1,2021-07-29 16:38:32.462,Fernando Soares de Jesus,Geografia,alice.padilha,0.5,0.5,1.0,NaN,2.0,"Na alternativa b), para o aproveitamento total..."
2,2021-07-29 16:39:56.497,Fernando Soares de Jesus,Geografia,ana.santos1,0.0,0.0,1.0,NaN,1.0,NaN
3,2021-07-29 16:41:14.851,Fernando Soares de Jesus,Geografia,ariana.fonseca,0.0,0.0,0.0,NaN,NaN,NaN
4,2021-07-29 16:45:59.410,Fernando Soares de Jesus,Geografia,beatriz.ventura,0.5,0.5,1.0,NaN,2.0,"Na alternativa b), para o aproveitamento total..."

In [130]:
discursivas[['Nota alternativa "d" (ex.: 0.3)', 'Nota final (ex.: 2.5)']].fillna("",inplace=True)
discursivas['Comentários'].fillna("Sem comentários",inplace=True)

c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\frame.py:4468: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [131]:
discursivas.drop(columns=["Carimbo de data/hora","Avaliador"], inplace=True)

In [132]:
discursivas = discursivas.sort_values(by=["Aluno(a)", "Matéria"]).set_index("Aluno(a)")

In [133]:
discursivas.head()

,Matéria,"Nota alternativa ""a"" (ex.: 0.3)","Nota alternativa ""b"" (ex.: 0.3)","Nota alternativa ""c"" (ex.: 0.3)","Nota alternativa ""d"" (ex.: 0.3)",Nota final (ex.: 2.5),Comentários
Aluno(a),,,,,,,
agata.cidade,Física,0.8,0.7,0.1,NaN,1.6,"Muito boas suas alternativas a) e b). Na c), f..."
agata.cidade,Geografia,0.5,0.0,0.5,NaN,1.0,Sem comentários
agata.cidade,Matemática,0.0,0.0,NaN,NaN,0.0,Não entendi que medidas usou para calcular a á...
alice.padilha,Física,0.9,0.2,0.5,NaN,1.6,"Alice, sua resposta para a alternativa a) está..."
alice.padilha,Geografia,0.5,0.5,1.0,NaN,2.0,"Na alternativa b), para o aproveitamento total..."

## Dados redacao

In [134]:
redacao = pd.read_excel("dados_2021.1/discursivas/Correção Redações _ SimUFSC 2021.1 (respostas).xlsx")
redacao.head()

,Carimbo de data/hora,Avaliador,Modelo,Aluno(a),Nota critério 1,Comentário critério 1,Nota critério 2,Comentário critério 2,Nota critério 3,Comentário critério 3,Nota critério 4,Comentário critério 4,Nota final,Comentário geral
0,2021-07-29 15:38:12.465,Eduarda,Dissertação,diego.torquato,1,"Sua redação está alinhada com o tema proposto,...",2.0,Texto bem escrito gramaticalmente e com poucos...,1.0,Sua redação apresenta vários conectivos e meca...,1.0,Você traz bons argumentos para a defesa de sua...,5,"Oii, Diego! Sua redação traz ótimos pontos, pa..."
1,2021-07-29 16:14:25.571,Eduarda,Dissertação,gabrielly.sanches,1,"Seu texto segue o tema proposto, contudo, é mu...",2.0,Texto com poucos desvios ortográficos. Atenção...,1.5,Atenção à coesão textual.,1.5,Você trouxe elementos que afirmam seu argument...,6,"Oii, Gabrielly! Seu texto apresenta bons eleme..."
2,2021-07-29 16:35:08.159,Eduarda,Dissertação,heloisa.souza,2,Texto adequado ao tema e ao gênero.,2.5,Muito bom,2.0,Boa coesão textual e organização de ideias,1.5,Apesar do texto estar bem adequado ao gênero d...,8,"Oii, Heloísa! Seu texto está muito bom, parabé..."
3,2021-07-29 16:53:40.101,Eduarda,Dissertação,rafaela.camargo,2,Texto de acordo com tema e gênero solicitados.,2.0,Redação com poucos desvios ortográficos. Atenç...,1.0,"Texto coeso e bem organizado. No entanto, tome...",2.0,"Parabéns, você apresentou diversos repertórios...",7,"Oii, Rafaella! Seu texto está bom e caminhando..."
4,2021-07-29 17:08:36.881,Eduarda,Dissertação,samuel.silva1,2,Texto adequado ao tema e gênero propostos.,2.0,A redação apresenta poucos desvios ortográfico...,1.5,Apesar de apresentar conectivos e mecanismos l...,1.5,"Você traz ótimos repertórios, parabéns! Para q...",7,"Oii, Samuel! Parabéns pela sua redação, você e..."

In [135]:
redacao.columns

Index(['Carimbo de data/hora', 'Avaliador', 'Modelo', 'Aluno(a)',
       'Nota critério 1', 'Comentário critério 1', 'Nota critério 2',
       'Comentário critério 2', 'Nota critério 3', 'Comentário critério 3',
       'Nota critério 4', 'Comentário critério 4', 'Nota final',
       'Comentário geral'],
      dtype='object')

In [136]:
# como algumas correções nao tem comentarios dos docentes, vamos preencher essas lacunas com 'NaN' com valor nulo
redacao = redacao.fillna("Sem comentários")

# precisamos separar os dados por aluno e por criterio
# sendo que cada linha deve conter os dados: nome -> criterio -> nota(do criterio) -> comentario(do criterio)
# para isso, separei os comentarios das notas
notas_redacao = redacao[['Aluno(a)','Nota critério 1','Nota critério 2','Nota critério 3','Nota critério 4',  'Nota final']]
coments_red= redacao[['Aluno(a)','Comentário critério 1','Comentário critério 2', 'Comentário critério 3','Comentário critério 4','Comentário geral']]

# renomeando as colunas de comentarios para ficar mais facil de fazer o merge depois
notas_redacao = notas_redacao.rename(columns={'Nota critério 1': "Critério 1",'Nota critério 2': "Critério 2",'Nota critério 3': "Critério 3",'Nota critério 4': "Critério 4",'Nota final': "Geral"})

coments_red = coments_red.rename(columns={'Comentário critério 1': "Critério 1",'Comentário critério 2': "Critério 2",'Comentário critério 3': "Critério 3",'Comentário critério 4': "Critério 4",'Comentário geral': "Geral"})

# com melt, cada coluna vira uma linha
notas_redacao = pd.melt(notas_redacao, id_vars=['Aluno(a)'], value_vars=['Critério 1','Critério 2','Critério 3','Critério 4','Geral'], var_name='Criterio', value_name='Nota')

coments_red = pd.melt(coments_red, id_vars=['Aluno(a)'], value_vars=['Critério 1','Critério 2','Critério 3','Critério 4','Geral'], var_name='Criterio', value_name='Comentário')

In [137]:
df_red = pd.merge(notas_redacao, coments_red, how='left', left_on=['Aluno(a)','Criterio'], right_on=['Aluno(a)','Criterio'])

df_red = df_red.sort_values(['Aluno(a)', 'Criterio']).set_index(['Aluno(a)','Criterio'])
df_red.head()

                         Nota  \
Aluno(a)     Criterio
agata.cidade Critério 1   2.0
             Critério 2   2.5
             Critério 3   2.5
             Critério 4   2.0
             Geral        9.0

                                                                Comentário
Aluno(a)     Criterio
agata.cidade Critério 1  Tema e gênero textuais adequados ao proposto p...
             Critério 2  Texto sem erros ortográficos significativos. (...
             Critério 3                       Texto coeso e bem organizado
             Critério 4       Poderia ter desenvolvido mais os argumentos.
             Geral       Oii, Agata!! Seu texto está de acordo com o pr...

In [138]:
df_red.to_pickle("redacao.pkl")

## dados pessoais alunos

# Somatórias

In [139]:
from itertools import combinations

alternativas = [1, 2 , 4, 8, 16, 32, 64]

d = {} 

j = 0
while j < len(alternativas):
    comb = combinations(alternativas, j)
    
    for i in list(comb):
        d.update({
            ';'.join(map(str, (i))) : int(sum(list(i)))
        })
    j += 1

In [140]:
possiveis_somas = pd.DataFrame(list(d.items()), columns = ['alternativas','soma']) 
possiveis_somas.head()

  alternativas  soma
0                  0
1            1     1
2            2     2
3            4     4
4            8     8

# Manipulação

In [141]:
df.drop(columns=['atividade_nome','turma','certo_ou_errado','valor_do_exercicio', 'Nome da atividade', 'Turma',
       'Nome do(a) aluno(a)', 'Login do(a) Aluno(a)',
       'Nota geral média (0 a 10)', 'Tempo de atividade(s)',
       'Tempo ausente(s)', 'Nota de Português(0 a 10)',
       'Nota de Espanhol(0 a 10)', 'Nota de Matemática(0 a 10)',
       'Nota de Biologia(0 a 10)', 'Nota geral(0 a 40)'], inplace=True)

## Destrinchando as somatorias

As funções a seguir lêem o valor da célula de resposta do aluno e comparam com os valores do df 'possiveis_somas'
Depois de comparar, ele pega as alternativas assinaladas e insere uma nova coluna no 'df'

In [142]:
def somatoria_resp(row):
    soma = row["resp_aluno"]
    assinaladas = possiveis_somas['alternativas'][soma == possiveis_somas['soma']]
    return str(assinaladas.values)

In [143]:
def somatoria_gab(row):
    soma = row["Gabarito"]
    assinaladas = possiveis_somas['alternativas'][soma == possiveis_somas['soma']]
    return str(assinaladas.values)

In [144]:
df['assinaladas'] = df.apply(somatoria_resp, axis=1).astype(str)
df['alternativas_certas'] = df.apply(somatoria_gab, axis=1).astype(str)

In [145]:
df['assinaladas'] = df['assinaladas'].str.strip('[]') #.apply(lambda x: x.replace('[','').replace(']',''))
df['alternativas_certas'] = df['alternativas_certas'].str.strip('[]')

As funções a seguir criam 14 colunas, uma coluna para cada alternativa (01,02,04,08,16,32,64) para a resposta do aluno e para o gabarito. Se o aluno assinalou a alternativa X, a coluna "resp_X" vai ficar com valor 1, caso contrário, 0.

In [146]:
df[df["aluno_nome"] == "Pedro Henrique Mota Rosa"]

,aluno_nome,aluno_login,num_exercicio,resp_aluno,gabarito,tempo_no_exercicio(s),Disciplina,Questão,NTPC,Gabarito,NP,NÍVEL,TEMA,assinaladas,alternativas_certas
30,Pedro Henrique Mota Rosa,pedro.rosa,1.0,51,51.0,155.0,Língua Portuguesa,1,4,51,6,FÁCIL,Interpretação de texto + Gêneros textuais + fo...,'1;2;16;32','1;2;16;32'
86,Pedro Henrique Mota Rosa,pedro.rosa,2.0,12,46.0,138.0,Língua Portuguesa,2,4,46,6,FÁCIL,"verbos, advérbios, interpretação e romantismo.",'4;8','2;4;8;32'
142,Pedro Henrique Mota Rosa,pedro.rosa,3.0,56,42.0,367.0,Língua Portuguesa,3,3,42,6,MÉDIA,Interpretação de Texto + Classes de palavras,'8;16;32','2;8;32'
198,Pedro Henrique Mota Rosa,pedro.rosa,4.0,32,53.0,158.0,Língua Portuguesa,4,4,53,6,FÁCIL,Variação linguística + Classes de palavras,'32','1;4;16;32'
254,Pedro Henrique Mota Rosa,pedro.rosa,5.0,4,7.0,229.0,Língua Portuguesa,5,3,7,6,DIFÍCIL,"Verbos, pronomes, modernismo, romantismo e fig...",'4','1;2;4'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2672,Pedro Henrique Mota Rosa,pedro.rosa,36.0,2,18,176.0,Química,36,4,22,6,MÉDIO,"Soluções, diluição, pressão de vapor, propried...",'2','2;4;16'
2747,Pedro Henrique Mota Rosa,pedro.rosa,37.0,32,26,187.0,Química,37,2,24,5,MÉDIO,"Cadeia carbônica, hibridização, concentração e...",'32','8;16'
2822,Pedro Henrique Mota Rosa,pedro.rosa,38.0,1,21,153.0,Química,38,4,38,7,MÉDIO,"Álcoois, Rendimento, Classificação das cadeia...",'1','2;4;32'
2897,Pedro Henrique Mota Rosa,pedro.rosa,39.0,0,27,116.0,Química,39,3,2,6,FÁCIL,"Álcoois, Aromaticidade, classificação das cad...",'','2'
2972,Pedro Henrique Mota Rosa,pedro.rosa,40.0,0,91,1.0,Química,40,ABERTA,20,ABERTA,MÉDIO,Estequiometria,'','4;16'

In [147]:
def is_or_not_resp(row):
    if row['assinaladas'] != "":
        for i in alternativas:
            df["resp_" + str(i)] = df['assinaladas'].apply(lambda x: 1 if str(i) in x else 0)

In [148]:
def is_or_not_gab(row):
    for i in alternativas:
        df["gab_" + str(i)] = df['alternativas_certas'].apply(lambda x: 1 if str(i) in x else 0)

In [149]:
#df.apply(is_or_not_resp, axis=1)

In [150]:
#df.apply(is_or_not_gab, axis=1)

In [151]:
#df.to_excel("dados.xlsx")

In [152]:
df = pd.read_excel("dados.xlsx")

regra de somatorias da ufsc
<img src="regra_somatoria.png">

In [153]:
# calculo da pontuação
# a função vai linha por linha do df e analisa se o dado da resposta do aluno é igual ao dado do gabarito
# se a resposta for igual ao gabarito e a resposta estiver correta, soma-se 1 ao numero de proposições corretas (NPC)
# se a resposta for diferente do gabarito e a o aluno assinalou essa alternativa, soma-se 1 ao numero de proposições incorretas (NPI)

def correction(row):
    if (row["NP"] != "ABERTA"):
        npc = 0
        npi = 0
        ntpc = 0
        i = 0
        n = 0
        while n < row['NP']:

            numero = alternativas[i]
            ntpc += int(row["gab_" + str(numero)])

            if row["gab_" + str(numero)] == row["resp_" + str(numero)] & row["resp_" + str(numero)] == 1:
                npc += 1
                
            elif row["gab_" + str(numero)] != row["resp_" + str(numero)] & row["resp_" + str(numero)] == 1:
                npi += 1
                
            n += 1
            i += 1

        if (npc > npi):
            p = (row['NP'] - ntpc + npc - npi) / row['NP']
        else:
            p = 0
    else:
        if row["resp_aluno"] == row["gabarito"]:
            p = 1
        else:
            p = 0
    return round(p, 2)

In [154]:
df['pontuacao'] = df.apply(correction, axis=1)

In [155]:
df[df["aluno_nome"] == "Leonardo de marco Trombetta"].head(20)

,Unnamed: 0,aluno_nome,aluno_login,num_exercicio,resp_aluno,gabarito,tempo_no_exercicio(s),Disciplina,Questão,NTPC,...,resp_32,resp_64,gab_1,gab_2,gab_4,gab_8,gab_16,gab_32,gab_64,pontuacao
19,19,Leonardo de marco Trombetta,leonardo.trombetta,1,50,51,204,Língua Portuguesa,1,4,...,1,0,1,1,0,0,1,1,0,1.00
75,75,Leonardo de marco Trombetta,leonardo.trombetta,2,28,46,248,Língua Portuguesa,2,4,...,0,0,0,1,1,1,0,1,0,0.00
131,131,Leonardo de marco Trombetta,leonardo.trombetta,3,8,42,181,Língua Portuguesa,3,3,...,0,0,0,1,0,1,0,1,0,0.67
187,187,Leonardo de marco Trombetta,leonardo.trombetta,4,35,53,518,Língua Portuguesa,4,4,...,1,0,1,1,1,0,1,1,0,0.67
243,243,Leonardo de marco Trombetta,leonardo.trombetta,5,12,7,128,Língua Portuguesa,5,3,...,0,0,1,1,1,0,0,0,0,0.00
299,299,Leonardo de marco Trombetta,leonardo.trombetta,6,29,29,224,Língua Portuguesa,6,4,...,0,0,1,0,1,1,1,0,0,1.00
355,355,Leonardo de marco Trombetta,leonardo.trombetta,7,7,14,716,Língua Portuguesa,7,3,...,0,0,0,1,1,1,0,0,0,0.67
411,411,Leonardo de marco Trombetta,leonardo.trombetta,8,39,43,243,Língua Portuguesa,8,4,...,1,0,1,1,0,1,0,1,0,0.67
467,467,Leonardo de marco Trombetta,leonardo.trombetta,9,7,22,1040,Língua Portuguesa,9,3,...,0,0,1,1,1,0,1,0,0,0.83
523,523,Leonardo de marco Trombetta,leonardo.trombetta,10,15,28,91,Língua Portuguesa,10,3,...,0,0,1,0,1,1,1,0,0,0.67
579,579,Leonardo de marco Trombetta,leonardo.trombetta,11,4,3,244,Língua Portuguesa,11,2,...,0,0,1,1,0,0,0,0,0,0.00
635,635,Leonardo de marco Trombetta,leonardo.trombetta,12,30,44,1582,Língua Portuguesa,12,3,...,0,0,0,1,1,1,0,1,0,0.50
691,691,Leonardo de marco Trombetta,leonardo.trombetta,13,7,52,194,Inglês,13,3,...,0,0,1,1,1,0,1,1,0,0.71
747,747,Leonardo de marco Trombetta,leonardo.trombetta,14,38,20,120,Inglês,14,2,...,1,0,1,0,1,0,1,0,0,0.00
803,803,Leonardo de marco Trombetta,leonardo.trombetta,15,27,28,102,Inglês,15,3,...,0,0,1,0,1,1,1,0,0,0.60
859,859,Leonardo de marco Trombetta,leonardo.trombetta,16,11,11,73,Inglês,16,3,...,0,0,1,1,0,1,0,0,0,1.00
915,915,Leonardo de marco Trombetta,leonardo.trombetta,17,2,16,449,Inglês,17,1,...,0,0,1,0,0,0,1,0,0,0.00
971,971,Leonardo de marco Trombetta,leonardo.trombetta,18,21,21,60,Inglês,18,3,...,0,0,1,0,1,0,1,0,0,1.00
1027,1027,Leonardo de marco Trombetta,leonardo.trombetta,19,16,42,154,Inglês,19,3,...,0,0,0,1,0,1,0,1,0,0.00
1083,1083,Leonardo de marco Trombetta,leonardo.trombetta,20,8,12,78,Inglês,20,2,...,0,0,0,0,1,1,0,0,0,0.80

não usado
for aluno in df.index.get_level_values(0):
    # assinalada = possiveis_somas[df.loc[aluno, "resp_aluno"] == possiveis_somas['soma']]
    df_aluno = df.loc[aluno, :]
    df_aluno.loc[:, "resp_aluno"] = df_aluno['resp_aluno']
    df_aluno.reset_index(inplace=True)
    
    for q in df_aluno['questao_num']:
        questao = df_aluno.loc[q, :]
        assinaladas = possiveis_somas['alternativas'][questao['resp_aluno'] == possiveis_somas['soma']]
        df_aluno['assinaladas'] = assinaladas
        #print(assinaladas)
        #print(df.loc[[aluno,q],:])
    #print(teste)
    
    #print(soma)

In [156]:
df_clean = df[['aluno_nome', 'aluno_login', 'num_exercicio', 'resp_aluno',
       'tempo_no_exercicio(s)', 'Disciplina', 'Questão', 'Gabarito',
       'NÍVEL', 'TEMA', 'assinaladas', 'alternativas_certas', 'pontuacao']]

In [157]:
df_clean['num_exercicio'] = df_clean["num_exercicio"].astype(int)

c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [158]:
df_clean = df_clean.sort_values(['aluno_nome', 'num_exercicio', "Disciplina"]).set_index(['aluno_nome', "Disciplina", 'num_exercicio'])
df_clean

                                                          aluno_login  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1              alice.st.john
                       Língua Portuguesa 1              alice.st.john
                       História          2              alice.st.john
                       Língua Portuguesa 2              alice.st.john
                       História          3              alice.st.john
...                                                               ...
Érica da Silva Tavares Química           38             erica.tavares
                       Biologia          39             erica.tavares
                       Química           39             erica.tavares
                       Biologia          40             erica.tavares
                       Química           40             erica.tavares

                                                        resp_aluno  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1                       0
                       Língua Portuguesa 1                      50
                       História          2                       0
                       Língua Portuguesa 2                       8
                       História          3                       0
...                                                            ...
Érica da Silva Tavares Química           38                     16
                       Biologia          39                     16
                       Química           39                      1
                       Biologia          40                     17
                       Química           40                     65

                                                        tempo_no_exercicio(s)  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1                                460
                       Língua Portuguesa 1                                232
                       História          2                                  0
                       Língua Portuguesa 2                                194
                       História          3                                  0
...                                                                       ...
Érica da Silva Tavares Química           38                                22
                       Biologia          39                                10
                       Química           39                               112
                       Biologia          40                                17
                       Química           40                               126

                                                        Questão  Gabarito  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1                    1        46
                       Língua Portuguesa 1                    1        51
                       História          2                    2        53
                       Língua Portuguesa 2                    2        46
                       História          3                    3        61
...                                                         ...       ...
Érica da Silva Tavares Química           38                  38        38
                       Biologia          39                  39         3
                       Química           39                  39         2
                       Biologia          40                  40        63
                       Química           40                  40        20

                                                        NÍVEL  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1              FÁCIL
                       Língua Portuguesa 1              FÁCIL
                       História          2              MÉDIO
                       Língua Portuguesa 2              FÁCIL
                       História          3              MÉDIO
...                                                       ...
Érica da Silva Tavares Química           38             MÉDIO
                       Biologia          39             MÉDIO
                       Química           39             FÁCIL
                       Biologia          40             MÉDIO
                       Química           40             MÉDIO

                                                                                                     TEMA  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1                           Grandes Navegações, História Moderna
                       Língua Portuguesa 1              Interpretação de texto + Gêneros textuais + fo...
                       História          2                Brasil Colonial/Economia e sociedade açucareira
                       Língua Portuguesa 2                 verbos, advérbios, interpretação e romantismo.
                       História          3                                                 Império Romano
...                                                                                                   ...
Érica da Silva Tavares Química           38             Álcoois,  Rendimento, Classificação das cadeia...
                       Biologia          39                                                 Bioenergética
                       Química           39             Álcoois,  Aromaticidade, classificação das cad...
                       Biologia          40                      Verminoses - Platelminto e Nematelmintos
                       Química           40                                                Estequiometria

                                                       assinaladas  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1                      ''
                       Língua Portuguesa 1               '2;16;32'
                       História          2                      ''
                       Língua Portuguesa 2                     '8'
                       História          3                      ''
...                                                            ...
Érica da Silva Tavares Química           38                   '16'
                       Biologia          39                   '16'
                       Química           39                    '1'
                       Biologia          40                 '1;16'
                       Química           40                 '1;64'

                                                       alternativas_certas  \
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1                      '2;4;8;32'
                       Língua Portuguesa 1                     '1;2;16;32'
                       História          2                     '1;4;16;32'
                       Língua Portuguesa 2                      '2;4;8;32'
                       História          3                   '1;4;8;16;32'
...                                                                    ...
Érica da Silva Tavares Química           38                       '2;4;32'
                       Biologia          39                          '1;2'
                       Química           39                            '2'
                       Biologia          40                '1;2;4;8;16;32'
                       Química           40                         '4;16'

                                                        pontuacao
aluno_nome             Disciplina        num_exercicio
Alice Leder St.John    História          1                   0.00
                       Língua Portuguesa 1                   1.00
                       História          2                   0.00
                       Língua Portuguesa 2                   0.50
                       História          3                   0.00
...                                                           ...
Érica da Silva Tavares Química           38                  0.00
                       Biologia          39                  0.00
                       Química           39                  0.00
                       Biologia          40                  0.43
                       Química           40                  0.00

[5360 rows x 10 columns]

In [159]:
acertos_aluno_questoes = df_clean.sort_values(by=['aluno_nome','Disciplina','num_exercicio'])
acertos_aluno_questoes

                                                   aluno_login  resp_aluno  \
aluno_nome             Disciplina num_exercicio
Alice Leder St.John    Biologia   31             alice.st.john           0
                                  32             alice.st.john           0
                                  33             alice.st.john           0
                                  34             alice.st.john           0
                                  35             alice.st.john           0
...                                                        ...         ...
Érica da Silva Tavares Química    36             erica.tavares          16
                                  37             erica.tavares          16
                                  38             erica.tavares          16
                                  39             erica.tavares           1
                                  40             erica.tavares          65

                                                 tempo_no_exercicio(s)  \
aluno_nome             Disciplina num_exercicio
Alice Leder St.John    Biologia   31                                 0
                                  32                                 0
                                  33                                 0
                                  34                                 0
                                  35                                 0
...                                                                ...
Érica da Silva Tavares Química    36                                34
                                  37                                30
                                  38                                22
                                  39                               112
                                  40                               126

                                                 Questão  Gabarito    NÍVEL  \
aluno_nome             Disciplina num_exercicio
Alice Leder St.John    Biologia   31                  31        26    FÁCIL
                                  32                  32         6  DIFÍCIL
                                  33                  33         6  DIFÍCIL
                                  34                  34        38    MÉDIO
                                  35                  35        25    MÉDIO
...                                                  ...       ...      ...
Érica da Silva Tavares Química    36                  36        22    MÉDIO
                                  37                  37        24    MÉDIO
                                  38                  38        38    MÉDIO
                                  39                  39         2    FÁCIL
                                  40                  40        20    MÉDIO

                                                                                              TEMA  \
aluno_nome             Disciplina num_exercicio
Alice Leder St.John    Biologia   31                                  Proteínas e Síntese Proteíca
                                  32                        Citologia (procariontes e eucariontes)
                                  33                                                      Evolução
                                  34                      FIlos Animais - Invertebrados Inferiores
                                  35                                                         Vírus
...                                                                                            ...
Érica da Silva Tavares Química    36             Soluções, diluição, pressão de vapor, propried...
                                  37             Cadeia carbônica, hibridização, concentração e...
                                  38             Álcoois,  Rendimento, Classificação das cadeia...
                                  39             Álcoois,  Aromaticidade, classificação das cad...
                                  40                                                Estequiometria

                                                assinaladas  \
aluno_nome             Disciplina num_exercicio
Alice Leder St.John    Biologia   31                     ''
                                  32                     ''
                                  33                     ''
                                  34                     ''
                                  35                     ''
...                                                     ...
Érica da Silva Tavares Química    36                   '16'
                                  37                   '16'
                                  38                   '16'
                                  39                    '1'
                                  40                 '1;64'

                                                alternativas_certas  pontuacao
aluno_nome             Disciplina num_exercicio
Alice Leder St.John    Biologia   31                       '2;8;16'       0.00
                                  32                          '2;4'       0.00
                                  33                          '2;4'       0.00
                                  34                       '2;4;32'       0.00
                                  35                       '1;8;16'       0.00
...                                                             ...        ...
Érica da Silva Tavares Química    36                       '2;4;16'       0.67
                                  37                         '8;16'       0.80
                                  38                       '2;4;32'       0.00
                                  39                            '2'       0.00
                                  40                         '4;16'       0.00

[5360 rows x 10 columns]

In [160]:
acertos_aluno_questoes.to_pickle("pontuacao_por_questao.pkl")

In [161]:
# calcula o total de questões certas por máteria, quantas questões tinham por matéria, e média por matéria

# agg permite agregar multiplas funções ao groupby
acertos_aluno = df_clean.groupby(['aluno_nome', "Disciplina"])['pontuacao'].agg(['sum','count','mean'])
acertos_aluno = acertos_aluno.rename(columns={"sum": "Pontuação", "mean": "Média Individual", 'count': "Total questoes"})
acertos_aluno

                                             Pontuação  Total questoes  \
aluno_nome             Disciplina
Alice Leder St.John    Biologia                   0.00              10
                       Filosofia/Sociologia       1.63               6
                       Física                     1.87              10
                       Geografia                  0.60               7
                       História                   0.00               7
...                                                ...             ...
Érica da Silva Tavares História                   4.10               7
                       Inglês                     4.10               8
                       Língua Portuguesa          7.34              12
                       Matemática                 3.84              10
                       Química                    2.64              10

                                             Média Individual
aluno_nome             Disciplina
Alice Leder St.John    Biologia                      0.000000
                       Filosofia/Sociologia          0.271667
                       Física                        0.187000
                       Geografia                     0.085714
                       História                      0.000000
...                                                       ...
Érica da Silva Tavares História                      0.585714
                       Inglês                        0.512500
                       Língua Portuguesa             0.611667
                       Matemática                    0.384000
                       Química                       0.264000

[593 rows x 3 columns]

In [162]:
# media dos alunos por materia
media_acerto_materia = df_clean.groupby("Disciplina")['pontuacao'].mean()
media_acerto_materia

Disciplina
Biologia                0.416322
Espanhol                0.222917
Filosofia/Sociologia    0.270778
Física                  0.351427
Geografia               0.258971
História                0.335162
Inglês                  0.554643
Língua Portuguesa       0.595169
Matemática              0.257898
Química                 0.155040
Name: pontuacao, dtype: float64

In [163]:
acertos_aluno = acertos_aluno.join(media_acerto_materia, on="Disciplina")
acertos_aluno  = acertos_aluno.rename(columns={'pontuacao':'Média Geral'})
acertos_aluno

                                             Pontuação  Total questoes  \
aluno_nome             Disciplina
Alice Leder St.John    Biologia                   0.00              10
                       Filosofia/Sociologia       1.63               6
                       Física                     1.87              10
                       Geografia                  0.60               7
                       História                   0.00               7
...                                                ...             ...
Érica da Silva Tavares História                   4.10               7
                       Inglês                     4.10               8
                       Língua Portuguesa          7.34              12
                       Matemática                 3.84              10
                       Química                    2.64              10

                                             Média Individual  Média Geral
aluno_nome             Disciplina
Alice Leder St.John    Biologia                      0.000000     0.416322
                       Filosofia/Sociologia          0.271667     0.270778
                       Física                        0.187000     0.351427
                       Geografia                     0.085714     0.258971
                       História                      0.000000     0.335162
...                                                       ...          ...
Érica da Silva Tavares História                      0.585714     0.335162
                       Inglês                        0.512500     0.554643
                       Língua Portuguesa             0.611667     0.595169
                       Matemática                    0.384000     0.257898
                       Química                       0.264000     0.155040

[593 rows x 4 columns]

In [164]:
# colocacao.sort_values(by='Total questoes', ascending=False).head(20)

In [165]:
# colocacao

In [166]:
pontuacao_total_aluno = acertos_aluno.groupby("aluno_nome").sum()
pontuacao_total_aluno

,Pontuação,Total questoes,Média Individual,Média Geral
aluno_nome,,,,
Alice Leder St.John,9.11,80,0.961881,3.195410
Alice Vailon Padilha,39.36,80,4.284548,3.195410
Ana Hildete do Espirito Santo,7.28,40,1.030667,1.371378
Ariadne Magrin,0.00,160,0.000000,3.195410
Ariana Guedes da Fonseca,16.56,40,2.120905,1.371378
...,...,...,...,...
Yzabelle da Luz Portela,16.71,40,2.099619,1.371378
joão manoel puerta souza,36.99,80,4.118274,3.195410
Ágata Cristina Cidade,7.67,40,0.968762,1.371378
Ágata Pereira de Andrade,0.00,160,0.000000,3.195410
Érica da Silva Tavares,33.61,80,3.708357,3.195410

In [167]:
pontuacao_total_aluno.sort_values(by="Pontuação", ascending=False).head(10)

,Pontuação,Total questoes,Média Individual,Média Geral
aluno_nome,,,,
Laura Ribeiro Maria,45.90,80,4.961202,3.19541
Guilherme Medeiros Velho,43.97,80,4.776095,3.19541
Vitória Michels,42.54,80,4.691798,3.19541
Stephane Damasceno Finco Rodrigues,41.08,80,4.537750,3.19541
Diogo Marcello Cardoso Modro,40.48,80,4.440798,3.19541
Mikaella Regina Domingues Franco Jorge,40.16,80,4.344048,3.19541
Alice Vailon Padilha,39.36,80,4.284548,3.19541
Geovanna Castro Aguiar Alves da Silva,39.20,80,4.295036,3.19541
Heytor Silva de lira,38.53,80,4.205869,3.19541
Gabrielly Barbosa Sanches,38.53,80,4.244143,3.19541

#### Próximas linhas são para calcular a estatistica geral de acerto do aluno

In [168]:
acertos_aluno = acertos_aluno.unstack()
acertos_aluno.head()

                              Pontuação                                       \
Disciplina                     Biologia Espanhol Filosofia/Sociologia Física
aluno_nome
Alice Leder St.John                0.00      NaN                 1.63   1.87
Alice Vailon Padilha               5.38      NaN                 1.72   5.87
Ana Hildete do Espirito Santo       NaN      NaN                 1.84   0.67
Ariadne Magrin                     0.00      NaN                 0.00   0.00
Ariana Guedes da Fonseca            NaN      NaN                 3.47   5.00

                                                                           \
Disciplina                    Geografia História Inglês Língua Portuguesa
aluno_nome
Alice Leder St.John                0.60     0.00    0.0              5.01
Alice Vailon Padilha               3.28     3.48    4.1              9.50
Ana Hildete do Espirito Santo      1.43     2.77    NaN               NaN
Ariadne Magrin                     0.00     0.00    0.0              0.00
Ariana Guedes da Fonseca           1.21     4.24    NaN               NaN

                                                  ... Média Geral           \
Disciplina                    Matemática Química  ...    Biologia Espanhol
aluno_nome                                        ...
Alice Leder St.John                 0.00    0.00  ...    0.416322      NaN
Alice Vailon Padilha                2.42    3.61  ...    0.416322      NaN
Ana Hildete do Espirito Santo        NaN    0.57  ...         NaN      NaN
Ariadne Magrin                      0.00    0.00  ...    0.416322      NaN
Ariana Guedes da Fonseca             NaN    2.64  ...         NaN      NaN

                                                                        \
Disciplina                    Filosofia/Sociologia    Física Geografia
aluno_nome
Alice Leder St.John                       0.270778  0.351427  0.258971
Alice Vailon Padilha                      0.270778  0.351427  0.258971
Ana Hildete do Espirito Santo             0.270778  0.351427  0.258971
Ariadne Magrin                            0.270778  0.351427  0.258971
Ariana Guedes da Fonseca                  0.270778  0.351427  0.258971

                                                                     \
Disciplina                     História    Inglês Língua Portuguesa
aluno_nome
Alice Leder St.John            0.335162  0.554643          0.595169
Alice Vailon Padilha           0.335162  0.554643          0.595169
Ana Hildete do Espirito Santo  0.335162       NaN               NaN
Ariadne Magrin                 0.335162  0.554643          0.595169
Ariana Guedes da Fonseca       0.335162       NaN               NaN


Disciplina                    Matemática  Química
aluno_nome
Alice Leder St.John             0.257898  0.15504
Alice Vailon Padilha            0.257898  0.15504
Ana Hildete do Espirito Santo        NaN  0.15504
Ariadne Magrin                  0.257898  0.15504
Ariana Guedes da Fonseca             NaN  0.15504

[5 rows x 40 columns]

In [169]:
acertos_aluno[('Pontuação', 'Total')] = acertos_aluno['Pontuação'].T.sum()

In [170]:
acertos_aluno[('Total questoes', 'Total')] = 80

In [171]:
acertos_aluno[('Média Individual', 'Total')] = acertos_aluno[('Pontuação', 'Total')] / 80

In [172]:
acertos_aluno = acertos_aluno.stack()
media_acertos_obj = df_clean['pontuacao'].mean()
acertos_aluno = acertos_aluno.fillna(value=media_acertos_obj)
acertos_aluno

                                             Média Geral  Média Individual  \
aluno_nome             Disciplina
Alice Leder St.John    Biologia                 0.416322          0.000000
                       Filosofia/Sociologia     0.270778          0.271667
                       Física                   0.351427          0.187000
                       Geografia                0.258971          0.085714
                       História                 0.335162          0.000000
...                                                  ...               ...
Érica da Silva Tavares Inglês                   0.554643          0.512500
                       Língua Portuguesa        0.595169          0.611667
                       Matemática               0.257898          0.384000
                       Química                  0.155040          0.264000
                       Total                    0.351981          0.420125

                                             Pontuação  Total questoes
aluno_nome             Disciplina
Alice Leder St.John    Biologia                   0.00            10.0
                       Filosofia/Sociologia       1.63             6.0
                       Física                     1.87            10.0
                       Geografia                  0.60             7.0
                       História                   0.00             7.0
...                                                ...             ...
Érica da Silva Tavares Inglês                     4.10             8.0
                       Língua Portuguesa          7.34            12.0
                       Matemática                 3.84            10.0
                       Química                    2.64            10.0
                       Total                     33.61            80.0

[666 rows x 4 columns]

In [173]:
# manipulando a coluna de total de acertos pra mostrar no formato -> acertos/total de questoes
acertos_aluno[['Pontuação', 'Total questoes']] = round(acertos_aluno[['Pontuação', 'Total questoes']], 2).astype(str)

acertos_aluno['Pontuação'] = acertos_aluno[['Pontuação', 'Total questoes']].agg(' / '.join, axis=1)

acertos_aluno = acertos_aluno.drop(columns =['Total questoes'])

In [174]:
# reordenando as colunas
acertos_aluno = acertos_aluno[['Pontuação',  "Média Individual", "Média Geral"]]
acertos_aluno.to_pickle("pontuacao_por_materia.pkl")

## redação

## discursivas

# Relatórios

## Docentes

acertos por matéria

In [175]:
media_acerto_materia = df_clean.groupby(['Disciplina'])["pontuacao"].agg(['sum','count','mean'])
media_acerto_materia = media_acerto_materia.rename(columns={"sum": "Pontuação total", "mean": "Média", 'count': "Total Respostas"})
media_acerto_materia

                      Pontuação total  Total Respostas     Média
Disciplina
Biologia                       245.63              590  0.416322
Espanhol                         5.35               24  0.222917
Filosofia/Sociologia           121.85              450  0.270778
Física                         263.57              750  0.351427
Geografia                      135.96              525  0.258971
História                       175.96              525  0.335162
Inglês                         248.48              448  0.554643
Língua Portuguesa              421.38              708  0.595169
Matemática                     152.16              590  0.257898
Química                        116.28              750  0.155040

acertos por questão

In [176]:
media_acerto_questao = df_clean.groupby(["Disciplina", "Questão", "NÍVEL","TEMA"])["pontuacao"].agg(['sum','count','mean'])
media_acerto_questao = media_acerto_questao.rename(columns={"sum": "Pontuação total", "mean": "Média", 'count': "Total Respostas"})
# media_acerto_questao.drop(media_acerto_questao.column, axis=1, inplace=True)
media_acerto_questao.head()

                                                                     Pontuação total  \
Disciplina Questão NÍVEL   TEMA
Biologia   31      FÁCIL   Proteínas e Síntese Proteíca                        30.85
           32      DIFÍCIL Citologia (procariontes e eucariontes)               8.40
           33      DIFÍCIL Evolução                                            18.20
           34      MÉDIO   FIlos Animais - Invertebrados Inferiores            32.01
           35      MÉDIO   Vírus                                               30.20

                                                                     Total Respostas  \
Disciplina Questão NÍVEL   TEMA
Biologia   31      FÁCIL   Proteínas e Síntese Proteíca                           59
           32      DIFÍCIL Citologia (procariontes e eucariontes)                 59
           33      DIFÍCIL Evolução                                               59
           34      MÉDIO   FIlos Animais - Invertebrados Inferiores               59
           35      MÉDIO   Vírus                                                  59

                                                                        Média
Disciplina Questão NÍVEL   TEMA
Biologia   31      FÁCIL   Proteínas e Síntese Proteíca              0.522881
           32      DIFÍCIL Citologia (procariontes e eucariontes)    0.142373
           33      DIFÍCIL Evolução                                  0.308475
           34      MÉDIO   FIlos Animais - Invertebrados Inferiores  0.542542
           35      MÉDIO   Vírus                                     0.511864

In [177]:
df.columns

Index(['Unnamed: 0', 'aluno_nome', 'aluno_login', 'num_exercicio',
       'resp_aluno', 'gabarito', 'tempo_no_exercicio(s)', 'Disciplina',
       'Questão', 'NTPC', 'Gabarito', 'NP', 'NÍVEL', 'TEMA', 'assinaladas',
       'alternativas_certas', 'resp_1', 'resp_2', 'resp_4', 'resp_8',
       'resp_16', 'resp_32', 'resp_64', 'gab_1', 'gab_2', 'gab_4', 'gab_8',
       'gab_16', 'gab_32', 'gab_64', 'pontuacao'],
      dtype='object')

In [178]:
tempo_questao = df.groupby(["Questão"]).mean()
tempo_questao = round(tempo_questao[["tempo_no_exercicio(s)"]], 2)
media_acerto_questao = media_acerto_questao.join(tempo_questao, on="Questão")

In [179]:
media_acerto_questao

                                                                               Pontuação total  \
Disciplina Questão NÍVEL   TEMA
Biologia   31      FÁCIL   Proteínas e Síntese Proteíca                                  30.85
           32      DIFÍCIL Citologia (procariontes e eucariontes)                         8.40
           33      DIFÍCIL Evolução                                                      18.20
           34      MÉDIO   FIlos Animais - Invertebrados Inferiores                      32.01
           35      MÉDIO   Vírus                                                         30.20
...                                                                                        ...
Química    36      MÉDIO   Soluções, diluição, pressão de vapor, proprieda...            18.50
           37      MÉDIO   Cadeia carbônica, hibridização, concentração e ...            20.20
           38      MÉDIO   Álcoois,  Rendimento, Classificação das cadeias...             4.97
           39      FÁCIL   Álcoois,  Aromaticidade, classificação das cade...             4.00
           40      MÉDIO   Estequiometria                                                 0.00

                                                                               Total Respostas  \
Disciplina Questão NÍVEL   TEMA
Biologia   31      FÁCIL   Proteínas e Síntese Proteíca                                     59
           32      DIFÍCIL Citologia (procariontes e eucariontes)                           59
           33      DIFÍCIL Evolução                                                         59
           34      MÉDIO   FIlos Animais - Invertebrados Inferiores                         59
           35      MÉDIO   Vírus                                                            59
...                                                                                        ...
Química    36      MÉDIO   Soluções, diluição, pressão de vapor, proprieda...               75
           37      MÉDIO   Cadeia carbônica, hibridização, concentração e ...               75
           38      MÉDIO   Álcoois,  Rendimento, Classificação das cadeias...               75
           39      FÁCIL   Álcoois,  Aromaticidade, classificação das cade...               75
           40      MÉDIO   Estequiometria                                                   75

                                                                                  Média  \
Disciplina Questão NÍVEL   TEMA
Biologia   31      FÁCIL   Proteínas e Síntese Proteíca                        0.522881
           32      DIFÍCIL Citologia (procariontes e eucariontes)              0.142373
           33      DIFÍCIL Evolução                                            0.308475
           34      MÉDIO   FIlos Animais - Invertebrados Inferiores            0.542542
           35      MÉDIO   Vírus                                               0.511864
...                                                                                 ...
Química    36      MÉDIO   Soluções, diluição, pressão de vapor, proprieda...  0.246667
           37      MÉDIO   Cadeia carbônica, hibridização, concentração e ...  0.269333
           38      MÉDIO   Álcoois,  Rendimento, Classificação das cadeias...  0.066267
           39      FÁCIL   Álcoois,  Aromaticidade, classificação das cade...  0.053333
           40      MÉDIO   Estequiometria                                      0.000000

                                                                               tempo_no_exercicio(s)
Disciplina Questão NÍVEL   TEMA
Biologia   31      FÁCIL   Proteínas e Síntese Proteíca                                       192.72
           32      DIFÍCIL Citologia (procariontes e eucariontes)                             161.28
           33      DIFÍCIL Evolução                                                           147.57
           34      MÉDIO   FIlos Animais - Invertebrados Inferiores                           204.90
           35      MÉDIO   Vírus                                                              141.86
...                                                                                              ...
Química    36      MÉDIO   Soluções, diluição, pressão de vapor, proprieda...                 142.35
           37      MÉDIO   Cadeia carbônica, hibridização, concentração e ...                 110.13
           38      MÉDIO   Álcoois,  Rendimento, Classificação das cadeias...                 104.95
           39      FÁCIL   Álcoois,  Aromaticidade, classificação das cade...                 150.54
           40      MÉDIO   Estequiometria                                                     167.60

[88 rows x 4 columns]

In [181]:
# media geral do einstein por dificuldade das questoes
media_por_dificuldade = df.groupby(['Disciplina','NÍVEL'])['pontuacao'].agg(['sum','count','mean'])
media_por_dificuldade = media_por_dificuldade.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Respostas"})

# salvando como pickle para o relatorio
# media_por_dificuldade.to_pickle('relatorios/dados/docentes/media_por_dificuldade.pkl')

media_por_dificuldade

                               Total Acertos  Total Respostas     Média
Disciplina           NÍVEL
Biologia             DIFÍCIL           55.19              177  0.311808
                     FÁCIL             30.85               59  0.522881
                     MÉDIO            159.59              354  0.450819
Espanhol             FÁCIL              1.75                9  0.194444
                     MÉDIO              3.60               15  0.240000
Filosofia/Sociologia DIFÍCIL           18.71               75  0.249467
                     FÁCIL             20.40               75  0.272000
                     MÉDIO             82.74              300  0.275800
Física               0                128.86              375  0.343627
                      DIFÍCIL          24.00               75  0.320000
                     FÁCIL             51.31              150  0.342067
                     MÉDIA             59.40              150  0.396000
Geografia            DIFÍCIL           22.76               75  0.303467
                     FÁCIL             39.24              225  0.174400
                     MÉDIO             73.96              225  0.328711
História             FÁCIL             17.69               75  0.235867
                     MÉDIO            158.27              450  0.351711
Inglês               FÁCIL             94.39              168  0.561845
                     MÉDIO            154.09              280  0.550321
Língua Portuguesa    DIFÍCIL           65.48              118  0.554915
                     FÁCIL            145.84              236  0.617966
                     MÉDIA            210.06              354  0.593390
Matemática           DIFÍCIL           26.35              118  0.223305
                     FÁCIL              2.00               59  0.033898
                     MÉDIO            123.81              413  0.299782
Química              DIFÍCIL            9.30               75  0.124000
                     FÁCIL             18.60              150  0.124000
                     MÉDIO             88.38              525  0.168343

In [182]:
# media de acerto por assunto
media_por_assunto = df.groupby(['Disciplina','TEMA'])['pontuacao'].agg(['sum','count','mean'])
media_por_assunto  = media_por_assunto.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Respostas"})

# salvando como pickle para o relatorio
# media_por_assunto.to_pickle('dados-relatorio-docentes/media_por_assunto.pkl')

media_por_assunto

                                                               Total Acertos  \
Disciplina TEMA
Biologia   Bioenergética                                               22.60
           Ciclo Celular                                               19.40
           Citologia (procariontes e eucariontes)                       8.40
           Evolução                                                    18.20
           FIlos Animais - Invertebrados Inferiores                    32.01
...                                                                      ...
Química    Modelos atômicos                                            20.65
           Propriedades coligativas, estequiometria, funçã...          14.60
           Soluções, diluição, pressão de vapor, proprieda...          18.50
           Álcoois,  Aromaticidade, classificação das cade...           4.00
           Álcoois,  Rendimento, Classificação das cadeias...           4.97

                                                               Total Respostas  \
Disciplina TEMA
Biologia   Bioenergética                                                    59
           Ciclo Celular                                                    59
           Citologia (procariontes e eucariontes)                           59
           Evolução                                                         59
           FIlos Animais - Invertebrados Inferiores                         59
...                                                                        ...
Química    Modelos atômicos                                                 75
           Propriedades coligativas, estequiometria, funçã...               75
           Soluções, diluição, pressão de vapor, proprieda...               75
           Álcoois,  Aromaticidade, classificação das cade...               75
           Álcoois,  Rendimento, Classificação das cadeias...               75

                                                                  Média
Disciplina TEMA
Biologia   Bioenergética                                       0.383051
           Ciclo Celular                                       0.328814
           Citologia (procariontes e eucariontes)              0.142373
           Evolução                                            0.308475
           FIlos Animais - Invertebrados Inferiores            0.542542
...                                                                 ...
Química    Modelos atômicos                                    0.275333
           Propriedades coligativas, estequiometria, funçã...  0.194667
           Soluções, diluição, pressão de vapor, proprieda...  0.246667
           Álcoois,  Aromaticidade, classificação das cade...  0.053333
           Álcoois,  Rendimento, Classificação das cadeias...  0.066267

[75 rows x 3 columns]